.App {
  background-color: gray;
  text-align: center;
  background-size: 100%;
  background-image: url(./img/bg.jpg);
  background-repeat: repeat, no-repeat;
}
.notifications-container {
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  padding-bottom: 10vh;
  justify-content: space-around;
}

.noty-single-container {
  display: flex;
  background: rgba(160, 151, 152, 0.507);
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 10vh;
  color: black;
  margin: 3vh;
  padding: 3vh;
}

.modal-header {
  background-color: rgba(218, 174, 110, 0.877);
  border-color: rgba(39, 29, 29, 0.61);
  border-style: hidden;
}

.modal-body {
  background-color: rgba(160, 151, 152, 0.507);
}

.modal-footer {
  background: rgba(160, 151, 152, 0.507);
}

#navButtons {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-right: 10vh;
}
