.App {
  text-align: center;
}
.notifications-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  background: grey;
  justify-content: space-around;
}

.noty-single-container {
  display: flex;
  background: pink;
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 10vh;
  color: black;
  margin: 3vh;
  padding: 3vh;
}
